@model Library.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBorrowed)
        </dt>

        <dd>
            @if (Model.IsBorrowed)
            {
                @Html.DisplayTextFor(model => model.IsBorrowed)
                // <p>Yep</p>   // if I want to place another text
            }
            else
            {
                @Html.DisplayTextFor(model => model.IsBorrowed)
                // <p>Nope</p> 
            }

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
