@model Library.Models.Book

<!-- Button trigger modal -->
<button type="button" id="createButton" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
    Create new
</button>

<!-- Modal -->
@* 'fade' - to make animation, role="dialog" always compulsory *@
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create new book</h4>
            </div>
            <div class="modal-body">
                <div id="userMessage"></div>

                @using (Ajax.BeginForm("Create", "Books",new AjaxOptions()
                {
                    UpdateTargetId = "booklist-section",                    // element with id = "booklist-section" will be upgraded asynch (it is in _BookList.cshtml)
                    HttpMethod = "Post",
                    OnSuccess = "Success",
                    OnFailure = "Failure"
                }))
                {
                    @Html.AntiForgeryToken()

                    <div>
                        @Html.LabelFor(model => model.Title)
                        @Html.TextBoxFor(model => model.Title)
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(model=>model.Genre)
                        @Html.DropDownListFor(model => model.GenreId, (IEnumerable<SelectListItem>)ViewBag.Genre)
                    </div>
                    <div>
                            <input type="submit" class="btn btn-primary" id="SubmitBook" value="Create" />
</div>

                }
            </div>
        </div>
    </div>
</div>
